[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-rest-knox = "*"
psycopg2 = "*"
django = "==3.2.9"

[dev-packages]
black = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
